<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content=""/>
<meta name="keywords" content="">
<title>ZEROORI</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.min.js"></script>
    <script src="Controler/classifiedsstepone.js?test=1"></script>

    <link rel="icon" href="images/fav.png" type="image/gif" sizes="16x16">
</head>

<body ng-app="ZerooriApp" ng-controller="classifiedsstepone"  ng-cloak>

<div class="post-ad-sec">
<div class="container">
	   
       <div class="post-ad-box">
		   
		   <div class="row justify-content-center">
			   
               <div class="col-lg-6 col-md-10">

                   <div class="post-ad-logo">
                       <a href="index.html"><img src="images/zeroori-logo-inner.png" alt="" /></a>
                   </div>

                   <div class="login-user-name"><img class="btn-icon" src="images/icon-user-login-color-one.png" alt="" />{{LoginStatusCaption}}</div>
                   <a class="btn-my-ad" href="my-ads.html"><img class="btn-icon" src="images/icon-my-ads.png" alt="" />My Ads</a>

                   <div class="forms-post-sec">
                       <form>
                           <div class="form-bx">

                               <div class="grid-box-sec">
                                   <div class="row justify-content-center">

                                       <div class="col-md-6">
                                           <a class="post-item bg-one" href="classifiedssteptwo.html">
                                               <div class="icon"><img src="images/classifiedss.png" alt="" /></div>
                                               <div class="title">Classifieds</div>
                                           </a>
                                       </div>

                                   </div><!--row-->
                               </div><!--grid-box-sec-->

                               <div class="row">

                                   <div class="form-group col-md-12">
                                       <input type="text" class="form-control" ng-model="SelectedData.Title" placeholder="Title">
                                   </div>

                                   <div class="form-group col-md-12">
                                       <select class="form-control" id="sel1" ng-model="SelectedData.Category" ng-options="Category.ClasifdSpecValue for Category in ViewData.CategoryCol track by Category.ClasifdSpecDtlId"></select>
                                   </div>

                                   <div class="form-group col-md-12 d-none">
                                       <select class="form-control" id="sel1"
                                               ng-model="SelectedData.SubCategory" ng-options="SubCategory.ClasifdSpecValue for SubCategory in ViewData.SubCategoryCol track by SubCategory.ClasifdSpecDtlId"></select>
                                   </div>

                                   <div class="form-group col-md-6">
                                       <select class="form-control" id="sel1" ng-model="SelectedData.Age" ng-options="Age.ClasifdSpecValue for Age in ViewData.AgeCol track by Age.ClasifdSpecDtlId"></select>
                                   </div>

                                   <div class="form-group col-md-6">
                                       <select class="form-control" id="sel1" ng-model="SelectedData.Usage" ng-options="Usage.ClasifdSpecValue for Usage in ViewData.UsageCol track by Usage.ClasifdSpecDtlId"></select>
                                   </div>

                                   <div class="form-group col-md-6">
                                       <select class="form-control" id="sel1" ng-model="SelectedData.Condition" ng-options="Condition.ClasifdSpecValue for Condition in ViewData.ConditionCol track by Condition.ClasifdSpecDtlId"></select>
                                   </div>

                                   <div class="form-group col-md-6">
                                       <select class="form-control" id="sel1" ng-model="SelectedData.Warranty" ng-options="Warranty.ClasifdSpecValue for Warranty in ViewData.WarrantyCol track by Warranty.ClasifdSpecDtlId"></select>
                                   </div>

                                   <div class="form-group col-md-12">
<textarea class="form-control" rows="4" ng-model="SelectedData.Description" id="" placeholder="Description"></textarea>
                                   </div>

                               </div><!--row-->

                               <button type="button" ng-click="DoSave()" class="btn btn-submit">Update</button>

                           </div>
                       </form>
                   </div>
				   


               </div><!--col-lg-6-->
		   </div><!--row-->
		   
<div class="footer-text">© Zeroori.com 2019, All Rights Reserved.</div>
            
       </div><!--post-ad-box-->
    
</div><!--container-->  
</div><!--post-ad-sec-->
	
	
							<!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body popup">

                                                <form>													
												<div class="form-group">
													<i class="fa fa-user"></i>
													<input id="email" ng-model="ViewData.Email" type="text" class="form-control" name="email" placeholder="Email Address">
												</div>

												<div class="form-group">
													<i class="fa fa-lock"></i>
													<input id="password" ng-model="ViewData.Passwd" type="password" class="form-control" name="password" placeholder="Password">
													<img class="icon-eye" src="images/icon-gray-eye.png" alt="" />
												</div>
													
     
                                                    <div class="login-sec">
                                                        <a class="btn btn-block" href="#" ng-click="GetUserInfo('UL')">Login</a>
                                                    </div>

                                                    <div class="sign-up-sec">
                                                        <a class="btn btn-block signup-popup" href="#" ng-click="navigate('signup')">
                                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                            Sign Up
                                                        </a>
                                                    </div>
													<div class="forgot-pwd"><a href="#"  ng-click="navigate('forgotpassword')">Forgot Password?</a></div>
                                                </form>
												
                                            </div>
                                        </div>
                                    </div>
                                </div>
	
	
	

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
    
</body>
</html>