<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="" />
<meta name="keywords" content="">
<title>ZEROORI</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">-
<link href="css/responsive.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.min.js"></script>
<script src="Controler/classifiedlistdetail.js"></script>
<link rel="icon" href="images/fav.png" type="image/gif" sizes="16x16">
</head>
	
<body ng-app="ZerooriApp" ng-controller="classifiedlistdetail"  ng-cloak>
<div class="hm-header">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="bx-wrapper">
<div class="logo"><a href="index.html"><img src="images/zeroori-logo-inner.png" alt="" /></a></div>
<div class="header-right">
<div class="show-username"><img class="icon" src="images/icon-user-login-color-one.png" alt="">{{UserName}}</div>
<div class="top-buttons-box">
<a class="btn btn-post-ad" data-toggle="modal" href="#" ng-click="PostAdd()"><img class="btn-icon" src="images/icon-post-ad.png" alt="" />Post An Ad</a>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
<form>
<div class="form-group">
<i class="fa fa-user"></i>
<input id="email" ng-model="ViewData.Email" type="text" class="form-control sign-input" name="email" placeholder="Email Address">
</div>
<div class="form-group">
<i class="fa fa-lock"></i>
<input id="password1" ng-model="ViewData.Passwd" type="password" class="form-control sign-input" name="password" placeholder="Password">
<img class="icon-eye" src="images/icon-gray-eye.png" alt=""  ng-click="ShowPwd('password1')" />
</div>
<div class="login-sec">
<a class="btn btn-block" href="#" ng-click="GetUserInfo('UL')">Login</a>
</div>
<div class="sign-up-sec">
<a class="btn btn-block signup-popup" href="#" ng-click="navigate('signup')">
    <i class="fa fa-user-plus" aria-hidden="true"></i>
    Sign Up
</a>
</div>
<div class="forgot-pwd"><a href="#"  ng-click="navigate('forgotpassword')">Forgot Password?</a></div>
</form>
</div>
</div>
</div>
</div>
<div class="signin-dropdown" ng-show="ISSignOutStatus">
<div class="dropdown">
<button type="button" class="btn btn-sign dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" ng-click="SignOut()" aria-haspopup="true">
{{LoginStatusCaption}}
</button>
<div class="dropdown-menu dropdown-menu-right dropdown-menu-main">
<form>
<div class="form-group">
<i class="fa fa-user"></i>
<input id="email" ng-model="ViewData.Email" type="text" style="color:white!important" class="form-control sign-input" name="email" placeholder="Email Address">
</div>
<div class="form-group">
<i class="fa fa-lock"></i>
<input id="password2" ng-model="ViewData.Passwd" type="password" style="color:white!important" class="form-control sign-input" name="password" placeholder="Password">
<img class="icon-eye" src="images/icon-gray-eye.png" alt=""   ng-click="ShowPwd('password2')"  />
</div>
<div class="login-sec">
<a class="btn btn-block" href="#" ng-click="GetUserInfo('UL')">Login</a>
</div>
<div class="sign-up-sec">
<a class="btn btn-block signup-popup" href="#" ng-click="navigate('signup')">
<i class="fa fa-user-plus" aria-hidden="true"></i>
Sign Up
</a>
</div>
<div class="forgot-pwd"><a href="#"  ng-click="navigate('forgotpassword')">Forgot Password?</a></div>
</form>
</div>
</div>
</div>
<div class="signin-dropdown" ng-show="ISSignINStatus">
<div class="dropdown">
<button class="btn btn-sign dropdown-toggle" type="button" data-toggle="dropdown">
{{LoginStatusCaption}}
</button>
<ul class="dropdown-menu dropdown-menu-right dropdown-profile-menu">
<li><a href="my-profile.html"><img class="icon"  src="images/icon-myprofile.png" alt="My Profile" />My Profile</a></li>
<li><a href="my-ads.html"><img class="icon" src="images/icon-my-ads.png" alt="My Ads" />My Ads</a></li>
<li><a href="#" ng-click="SignOut()"><img class="icon" src="images/icon-signout.png" alt="Sign Out" />Sign Out</a></li>
</ul>
</div>
</div>
</div><!--top-buttons-box-->
</div><!--header-right-->
</div><!--bx-wrapper--->
</div><!--col-lg-12-->
</div><!--row-->
</div><!--container-->
</div><!--header-->
<div class="nav-catg-sec bg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="main-categ-sec">
<div class="box-nav">
<a class="btn-catg" href="#" ng-click="navigate('motorlist')"><img src="images/t01.png" alt=""><span>Motors</span></a>
<a class="btn-catg active" href="classifiedslist.html"><img src="images/t02.png" alt=""><span>Classifieds</span></a>
<a class="btn-catg" href="propertieslist.html"><img src="images/t04.png" alt=""><span>Properties</span></a>
<a class="btn-catg" href="jobs-hiring-listing.html"><img src="images/t05.png" alt=""><span>Jobs</span></a>
<a class="btn-catg" href="deals-list.html"><img src="images/t08.png" alt=""><span>Deals</span></a>
<a class="btn-catg" href="brandslist.html"><img src="images/t09.png" alt=""><span>Brands</span></a>
<a class="btn-catg" href="frelnc-hiring-listing.html"><img src="images/t06.png" alt=""><span>Freelance</span></a>
<a class="btn-catg" href="directorylist.html"><img src="images/t07.png" alt=""><span>Directory</span></a>
<a class="btn-catg" href="malls.html"><img src="images/t03.png" alt=""><span>Malls</span></a>
<a class="btn-catg" href="governmentlist.html"><img src="images/t10.png" alt=""><span>E-Govt.</span></a>
</div><!--box-nav--->
</div><!--main-categ-sec--->
<div class="main-categ-mobile-sec">
<a class="btn-block main-catg-mob" data-toggle="collapse" href="#MainCatg">Main Category</a>
<div class="collapse" id="MainCatg">
<div class="card card-body">
<div class="box-nav">
<a class="btn-catg" href="#" ng-click="navigate('motorlist')"><img src="images/t01.png" alt=""><span>Motors</span></a>
<a class="btn-catg active" href="classifiedslist.html"><img src="images/t02.png" alt=""><span>Classifieds</span></a>
<a class="btn-catg" href="propertieslist.html"><img src="images/t04.png" alt=""><span>Properties</span></a>
<a class="btn-catg" href="jobs-hiring-listing.html"><img src="images/t05.png" alt=""><span>Jobs</span></a>
<a class="btn-catg" href="deals-list.html"><img src="images/t08.png" alt=""><span>Deals</span></a>
<a class="btn-catg" href="brandslist.html"><img src="images/t09.png" alt=""><span>Brands</span></a>
<a class="btn-catg" href="frelnc-hiring-listing.html"><img src="images/t06.png" alt=""><span>Freelance</span></a>
<a class="btn-catg" href="directorylist.html"><img src="images/t07.png" alt=""><span>Directory</span></a>
<a class="btn-catg" href="malls.html"><img src="images/t03.png" alt=""><span>Malls</span></a>
<a class="btn-catg" href="governmentlist.html"><img src="images/t10.png" alt=""><span>E-Govt.</span></a>
</div><!--box-nav--->
</div>
</div>
</div><!--main-categ-mobile-sec-->
</div><!--col-lg-12-->
<div class="col-lg-12">
<div class="search-sec">
<div class="input-group">
<input type="text" class="form-control" placeholder="How can i help you?">
<div class="input-group-btn">
<button class="btn btn-default search_icon" type="button"><i class="fa fa-search-plus"></i></button>
</div>
</div>
</div>
</div><!--col-lg-12-->
</div><!--row-->
</div><!--container--->
</div><!--nav-catg-sec--->
<div class="body-container">
<div class="container">
<div class="row">
<div class="col-lg-9">
<div class="detail-sec">
<div class="row">
<div class="col-lg-9">
<div class="detail-photos">
<div id="demo" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="carousel-item {{::($index === 0 ? 'active' : '')}}" ng-repeat="FilesName in ClasifdData.FileNames track by $index">
<div class="row">
<img class="d-block w-100" src="{{FilesName.DisPlyMembr}}" alt="" />
</div>
</div>
</div>
<a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#demo" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div><!--detail-photos-->
<div class="detail-header-box">
<div class="row">
<div class="col-sm-8">
<h3 class="detail-header">{{ClasifdData.ClasifdTitle}}</h3>
<div class="detail-posted">Posted on: {{ClasifdData.CrtdDt}}</div>
</div>
<div class="col-sm-4">
<h2 class="detail-price">QAR {{ClasifdData.Price}}</h2>
</div>
</div>
</div>
</div><!--col-lg-9-->
<div class="col-lg-3">
<div class="detail-icon-desc">
<div class="row">
<div class="col-lg-12 col-6">
<div class="box-info"><span>Age:</span>{{ClasifdData.Age}}</div>
</div>
<div class="col-lg-12 col-6">
<div class="box-info"><span>Usage:</span>{{ClasifdData.Usage}}</div>
</div>
<div class="col-lg-12 col-6">
<div class="box-info"><span>Condition:</span>{{ClasifdData.Condition}}</div>
</div>
<div class="col-lg-12 col-6">
<div class="box-info"><span>Warranty:</span>{{ClasifdData.Warranty}}</div>
</div>
</div>
</div>
</div>
</div><!--row-->
<div class="detail-desc">
<h4 class="sub-title">Description:</h4>
<div class="desc">
{{ClasifdData.ClasifdDescription}}
</div>
</div><!--detail-desc-->
<div class="desc-advt"><img src="images/advt-bottom.jpg" alt="" /></div>
</div><!--detail-sec-->
</div><!--col-lg-9-->
	
<div class="col-lg-3">
	
<div class="ad-contact-box">
	
<div class="text-one">Contact</div>
	
<div class="ad-contact">
<img class="icon" src="images/icon-contact-tel.png" alt="">
<div class="txt">{{ClasifdData.UsrPhno}}</div>
</div>
	
<div class="ad-contact">
<img class="icon" src="images/icon-contact-email.png" alt="">
<div class="txt">{{ClasifdData.UsrEmail}}</div>
</div>
	
<a class="btn-reply" data-toggle="modal" href="#ReplyAd">Reply to this Ad</a>

                            <!-- Modal -->
                            <div class="modal fade" id="ReplyAd" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body popup">

                                            <form>
											<div class="form-group">
											<input type="text" class="form-control" placeholder="Iam Interested">
											</div>
											<button type="button" class="btn btn-submit" data-dismiss="modal">Submit</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>	
	
</div>
	
<div class="location-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d205694.463673772!2d51.076883240072256!3d25.285176746286332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c534ffdce87f%3A0x1cfa88cf812b4032!2sQatar!5e0!3m2!1sen!2sin!4v1571644933031!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
<div class="advt-right"><img src="images/advt-right.jpg" alt="" /></div>
</div>
</div><!--row-->
</div><!--container-->
</div><!--body-container-->
<div class="footer-sec">
<div class="container">
<div class="footer-widgets">
<div class="row">
<div class="col-lg-3 col-sm-6">
<div class="footer-column">
<h5>Quick Links</h5>
<ul class="links">
<li><a href="about.html">About Us</a></li>
<li><a href="careers.html">Careers</a></li>
<li><a href="contact.html">Contact Us</a></li>
</ul>
</div>
</div><!--col-lg-3-->
<div class="col-lg-3 col-sm-6">
<div class="footer-column">
<h5>Policy</h5>
<ul class="links">
<li><a href="privacypolicy.html">Privacy Policy </a></li>
<li><a href="terms.html">Terms & Conditions </a></li>
</ul>
</div>
</div><!--col-lg-3-->
<div class="col-lg-3 col-sm-6">
<div class="footer-column">
<h5>Follow Us</h5>
<div class="social-footer">
<a href="#"><img src="images/fb.png" alt="" /></a>
<a href="#"><img src="images/twitter.png" alt="" /></a>
<a href="#"><img src="images/insta.png" alt="" /></a>
</div>
</div>
</div><!--col-lg-3-->
<div class="col-lg-3 col-sm-6">
<div class="footer-column">
<h5>Subscribe to our newsletter</h5>
<div class="input-group">
<input type="text" class="form-control foot-newsletter " placeholder="Email Address">
<div class="input-group-btn">
<button class="btn btn-default foot-newsletter-btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
</div>
</div>
</div>
</div><!--col-lg-3-->
</div><!--row-->
</div><!--footer-widgets-->
<div class="footer-bottom">© Zeroori.com 2019, All Rights Reserved.</div>
</div><!--container-->
</div><!--footer-->
		
<div class="mobile-sec-footer">
<a class="nv-item pr" data-toggle="modal" href="#" ng-click="PostAdd()">
<div class="btn-icon-mob"><img src="images/icon-post-ad-mobile.png" alt=""/></div>
<div class="link-mob">Post an ad</div>	
</a>
	
<a class="nv-item" data-toggle="modal" href="#" ng-click="SignIN()" ng-show="ISSignOutStatus">
<div class="btn-icon-mob"><img src="images/icon-sign-mobile.png" alt=""/></div>
<div class="link-mob">{{LoginStatusCaption}}</div>
</a>
<div class="nv-item" ng-show="ISSignINStatus">
<div class="dropdown">
<button class="btn btn-sign dropdown-toggle" type="button" data-toggle="dropdown">
											
<div class="btn-icon-mob"><img src="images/icon-sign-mobile.png" alt=""/></div>
<div class="link-mob">{{LoginStatusCaption}}</div>	
											
</button>
<ul class="dropdown-menu dropdown-profile-menu">
<li><a href="my-profile.html"><img class="icon"  src="images/icon-myprofile.png" alt="My Profile"/>My Profile</a></li>
<li><a href="my-ads.html"><img class="icon" src="images/icon-my-ads.png" alt="My Ads"/>My Ads</a></li>
<li><a href="#" ng-click="SignOut()"><img class="icon" src="images/icon-signout.png" alt="Sign Out"/>Sign Out</a></li>
</ul>
</div>
</div>
</div><!--mobile-sec-footer-->
		
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>