<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="">

    <title>ZEROORI</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="icon" href="images/fav.png" type="image/gif" sizes="16x16">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.min.js"></script>
    <script src="Controler/forgotpassword.js?test=1"></script>


</head>

<body ng-app="ZerooriApp" ng-controller="forgotpassword"  ng-cloak>

    <div class="post-ad-sec">
        <div class="container">

            <div class="post-ad-box">

                <div class="row justify-content-center">

                    <div class="col-lg-6 col-md-10">

                        <div class="post-ad-logo">
                            <a href="index.html"><img src="images/zeroori-logo-inner.png" alt="" /></a>
                        </div>

                        <div class="post-ad-header">
                            <h3>Forgot your Password?</h3>
                            <div class="sub-title">Use the form below to recover it.</div>
                        </div>

                        <div class="forms-post-sec">
                            <form>
                                <div class="form-bx wd">

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" ng-model="ViewData.Email" placeholder="Enter your email id">
                                    </div>

                                    <button type="button" ng-click="SendPwd()" class="btn btn-submit">Recover Password</button>

                                </div>
                            </form>
                        </div>

                    </div><!--col-md-6-->
                </div><!--row-->

                <div class="footer-text">© Zeroori.com 2019, All Rights Reserved.</div>

            </div><!--post-ad-box-->

        </div><!--container-->
    </div><!--post-ad-sec-->

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>