<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<title>ZEROORI</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.min.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>-->
		<script src="Controler/ManagePage.js"></script>

	<link rel="icon" href="images/fav.png" type="image/gif" sizes="16x16">
</head>

<body ng-app="ZerooriApp" ng-controller="ManagePage" ng-cloak>

    <div class="hm-header">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">

                    <div class="bx-wrapper">
                        <div class="logo"><a href="index.html"><img src="images/zeroori-logo-inner.png" alt="" /></a></div>

                        <div class="header-right">

                            <div class="show-username"><img class="icon" src="images/icon-user-login-color-one.png" alt="">{{UserName}}</div>

                            <div class="top-buttons-box">

                                <a class="btn btn-post-ad" data-toggle="modal" href="#" ng-click="PostAdd()"><img class="btn-icon" src="images/icon-post-ad.png" alt="" />Post An Ad</a>


                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">

                                                <form>
                                                    <div class="form-group">
                                                        <i class="fa fa-user"></i>
                                                        <input id="email" ng-model="ViewData.Email" type="text" class="form-control sign-input" name="email" placeholder="Email Address">
                                                    </div>

                                                    <div class="form-group">
                                                        <i class="fa fa-lock"></i>
                                                        <input id="password1" ng-model="ViewData.Passwd" type="password" class="form-control sign-input" name="password" placeholder="Password">
                                                        <img class="icon-eye" src="images/icon-gray-eye.png" alt="" ng-click="ShowPwd('password1')" />
                                                    </div>

                                                    <div class="login-sec">
                                                        <a class="btn btn-block" href="#" ng-click="GetUserInfo('UL')">Login</a>
                                                    </div>

                                                    <div class="sign-up-sec">
                                                        <a class="btn btn-block signup-popup" href="#" ng-click="navigate('signup')">
                                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                            Sign Up
                                                        </a>
                                                    </div>


                                                    <div class="forgot-pwd"><a href="#" ng-click="navigate('forgotpassword')">Forgot Password?</a></div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="signin-dropdown" ng-show="ISSignOutStatus">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-sign dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" ng-click="SignOut()" aria-haspopup="true">
                                            {{LoginStatusCaption}}
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-main">
                                            <form>
                                                <div class="form-group">
                                                    <i class="fa fa-user"></i>
                                                    <input id="email" ng-model="ViewData.Email" type="text" style="color:white!important" class="form-control sign-input" name="email" placeholder="Email Address">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fa fa-lock"></i>
                                                    <input id="password2" ng-model="ViewData.Passwd" type="password" style="color:white!important" class="form-control sign-input" name="password" placeholder="Password">
                                                    <img class="icon-eye" src="images/icon-gray-eye.png" alt="" ng-click="ShowPwd('password2')" />
                                                </div>

                                                <div class="login-sec">
                                                    <a class="btn btn-block" href="#" ng-click="GetUserInfo('UL')">Login</a>
                                                </div>

                                                <div class="sign-up-sec">
                                                    <a class="btn btn-block signup-popup" href="#" ng-click="navigate('signup')">
                                                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                                                        Sign Up
                                                    </a>
                                                </div>

                                                <div class="forgot-pwd"><a href="#" ng-click="navigate('forgotpassword')">Forgot Password?</a></div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="signin-dropdown" ng-show="ISSignINStatus">
                                    <div class="dropdown">
                                        <button class="btn btn-sign dropdown-toggle" type="button" data-toggle="dropdown">
                                            {{LoginStatusCaption}}
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right dropdown-profile-menu">
                                            <li><a href="my-profile.html"><img class="icon" src="images/icon-myprofile.png" alt="My Profile" />My Profile</a></li>
                                            <li><a href="my-ads.html"><img class="icon" src="images/icon-my-ads.png" alt="My Ads" />My Ads</a></li>
                                            <li><a href="#" ng-click="SignOut()"><img class="icon" src="images/icon-signout.png" alt="Sign Out" />Sign Out</a></li>
                                        </ul>
                                    </div>
                                </div>


                            </div><!--top-buttons-box-->

                        </div><!--header-right-->

                    </div><!--bx-wrapper--->

                </div><!--col-lg-12-->

            </div><!--row-->


        </div><!--container-->
    </div><!--header-->

    <div class="sub-banner-sec">

        <div class="container">
            <div class="box-sub-nav">
                <a class="btn-profile" href="my-profile.html"><img src="images/icon-btn-my-profile.png" alt="" /><span>My Profile</span></a>
                <a class="btn-profile" href="my-ads.html"><img src="images/icon-btn-my-ads.png" alt="" /><span>My Ads</span></a>
                <a class="btn-profile active" href="my-products.html"><img src="images/icon-btn-my-products.png" alt="" /><span>My Products</span></a>
            </div>
        </div>

    </div><!--sub-banner-sec--->



    <div class="body-container">
        <div class="container">

            <div class="profile-sec">

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">

                        <h3>Manage Page</h3>


                        <div class="form-profile">
                            <form>

                                <div class="row">

									<div class="form-group col-md-6">
										<div class="f-text">Business Name</div>
										<input type="text" class="form-control" data-error="Please enter name field." ng-model="SelectedData.BusinessName" required />
										<div class="help-block with-errors"></div>

									</div>

                                    <div class="form-group col-md-6">
                                        <div class="f-text">URL</div>
                                        <input type="text" class="form-control" ng-model="SelectedData.URL">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="f-text">Category</div>
										<select class="form-control" id="sel1"
												ng-model="SelectedData.Category"
												ng-options="Category.DisPlyMembr for Category in CategoriesCol track by Category.ValMembr" required></select>
                                    </div>


                                    <div class="form-group col-sm-6">

                                        <div class="edit-box">

                                            <a id="upload_link1" href="#">
                                                <div class="item-photo-edit-bnr">
                                                    <img  id="Imgupload1" src="{{SelectedData.BannerImage}}" alt="">
                                                </div>
                                            </a>
                                            <a class="linktxt" href="">Remove</a>
                                        </div>

                                        <div class="form-group">
                                            <div class="f-text">Banner Image</div>
                                            <input id="upload1" type="file" accept="image/*" onchange="" class="form-control-file">
                                        </div>

                                    </div>

                                    <div class="form-group col-sm-6">

                                        <div class="edit-box">
                                            <a  id="upload_link2" href="#">
                                                <div class="item-photo-edit-bnr">
                                                    <img id="Imgupload2" src="{{SelectedData.CompanyLogo}}" alt="">
                                                </div>
                                            </a>
                                            <a class="linktxt" href="">Remove</a>
                                        </div>

                                        <div class="form-group">
                                            <div class="f-text">Company Logo</div>
                                            <input id="upload2" type="file" class="form-control-file" id="">
                                        </div>
                                    </div>

                                </div><!--row-->


                                <div class="edit-title">Share Now</div>
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <div class="f-text">Facebook</div>
                                        <input type="text" class="form-control" ng-model="SelectedData.Facebook">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="f-text">Instagram</div>
                                        <input type="text" class="form-control" ng-model="SelectedData.Instagram">
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="f-text">Twitter</div>
                                        <input type="text" class="form-control" ng-model="SelectedData.Twitter">
                                    </div>

                                </div><!--row-->


                                <div class="edit-title">Contact Details</div>
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <div class="f-text">Phone No.</div>
                                        <input type="number" class="form-control" ng-model="SelectedData.PhoneNo" maxlength="12" required>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="f-text">Email</div>
                                        <input type="text" class="form-control" ng-model="SelectedData.Email" required>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <div class="f-text">Website</div>
                                        <input type="text" class="form-control" ng-model="SelectedData.Website">
                                    </div>

									<div class="form-group col-md-12">
										<div class="f-text">Location</div>
										<select class="form-control" id="sel1"
												ng-model="SelectedData.locationData"
												ng-options="locationData.PlaceName for locationData in LocationCol track by locationData.CityMastID" required></select>
									</div>

                                </div><!--row-->

                                <div class="edit-title">About Us</div>
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <div class="f-text">Description</div>
                                        <textarea class="form-control" rows="4" ng-model="SelectedData.Description"></textarea>
                                    </div>

                                </div><!--row-->

                                <div class="text-center"><button type="button" ng-click="SaveData()" class="btn btn-submit">Update</button></div>
                            </form>
                        </div>

                    </div><!--col-md-6-->

                </div><!--row-->



            </div><!--profile-sec-->

        </div><!--container-->
    </div><!--body-container-->

    <div class="footer-sec">
        <div class="container">

            <div class="footer-widgets">

                <div class="row">

                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-column">
                            <h5>Quick Links</h5>
                            <ul class="links">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="careers.html">Careers</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div><!--col-lg-3-->

                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-column">
                            <h5>Policy</h5>
                            <ul class="links">
                                <li><a href="privacypolicy.html">Privacy Policy </a></li>
                                <li><a href="terms.html">Terms & Conditions </a></li>
                            </ul>
                        </div>
                    </div><!--col-lg-3-->

                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-column">
                            <h5>Follow Us</h5>
                            <div class="social-footer">
                                <a href="#"><img src="images/fb.png" alt="" /></a>
                                <a href="#"><img src="images/twitter.png" alt="" /></a>
                                <a href="#"><img src="images/insta.png" alt="" /></a>
                            </div>
                        </div>
                    </div><!--col-lg-3-->

                    <div class="col-lg-3 col-sm-6">
                        <div class="footer-column">
                            <h5>Subscribe to our newsletter</h5>
                            <div class="input-group">
                                <input type="text" class="form-control foot-newsletter " placeholder="Email Address">
                                <div class="input-group-btn">
                                    <button class="btn btn-default foot-newsletter-btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div><!--col-lg-3-->

                </div><!--row-->

            </div><!--footer-widgets-->


            <div class="footer-bottom">© Zeroori.com 2019, All Rights Reserved.</div>

        </div><!--container-->
    </div><!--footer-->


    <div class="mobile-sec-footer">

        <a class="nv-item pr" data-toggle="modal" href="#" ng-click="PostAdd()">
            <div class="btn-icon-mob"><img src="images/icon-post-ad-mobile.png" alt="" /></div>
            <div class="link-mob">Post an ad</div>
        </a>


        <a class="nv-item" data-toggle="modal" href="#" ng-click="SignIN()" ng-show="ISSignOutStatus">
            <div class="btn-icon-mob"><img src="images/icon-sign-mobile.png" alt="" /></div>
            <div class="link-mob">{{LoginStatusCaption}}</div>
        </a>

        <div class="nv-item" ng-show="ISSignINStatus">
            <div class="dropdown">
                <button class="btn btn-sign dropdown-toggle" type="button" data-toggle="dropdown">

                    <div class="btn-icon-mob"><img src="images/icon-sign-mobile.png" alt="" /></div>
                    <div class="link-mob">{{LoginStatusCaption}}</div>

                </button>
                <ul class="dropdown-menu dropdown-profile-menu">
                    <li><a href="my-profile.html"><img class="icon" src="images/icon-myprofile.png" alt="My Profile" />My Profile</a></li>
                    <li><a href="my-ads.html"><img class="icon" src="images/icon-my-ads.png" alt="My Ads" />My Ads</a></li>
                    <li><a href="#" ng-click="SignOut()"><img class="icon" src="images/icon-signout.png" alt="Sign Out" />Sign Out</a></li>
                </ul>
            </div>
        </div>

    </div><!--mobile-sec-footer-->

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>